* {
    border:0px;
    margin:0px;
}

body {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    height:100vh;

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#container {
    width:600px;
    height:600px;
    /* border:1px solid red; */
    display:flex;

    background: white;
}